{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Table V02</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="{% static 'booking/images/icons/favicon.ico' %}"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'booking/vendor/bootstrap/css/bootstrap.min.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css"
          href="{% static 'booking/fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'booking/vendor/animate/animate.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'booking/vendor/select2/select2.min.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'booking/vendor/perfect-scrollbar/perfect-scrollbar.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'booking/css/util.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'booking/css/main.css' %}">
    <!--===============================================================================================-->
</head>
<body>

<div class="limiter">
    <div class="container-table100">
        <div class="wrap-table100">
            <div class="table">

                <div class="row header">
                    <div class="cell">
                        Details
                    </div>
                </div>
                {% if master%}
                    <div class="row">
                        <div class="cell" data-title="First Name">
                            <p align="center">{{ master.first_name }} {{ master.last_name }} is a {{ master.get_service_display }}</p>
                        </div>
                    </div>
                {% else %}
                    <h1>Sorry, there are no masters with this id!</h1>
                {% endif %}
            </div>
        </div>
    </div>
</div>


<!--===============================================================================================-->
<script src="{% static 'booking/vendor/jquery/jquery-3.2.1.min.js' %}"></script>
<!--===============================================================================================-->
<script src="{% static 'booking/vendor/bootstrap/js/popper.js' %}"></script>
<script src="{% static 'booking/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
<!--===============================================================================================-->
<script src="{% static 'booking/vendor/select2/select2.min.js' %}"></script>
<!--===============================================================================================-->
<script src="{% static 'booking/js/main.js' %}"></script>

</body>
</html>